

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    
}

@font-face {
    font-family: TipodeLetra;
    src: url("./imagenes/Marhey-Medium.ttf") format("truetype");
}
header{
    width: 100%;
    height: 10.0rem;
     background-image: linear-gradient(to right top, #e95eb8, #c57ada, #9a91ec, #72a1ed, #5dade2); 
}
.navegador p{
    color: white;
    font-size: 5.0rem;
    font-family: TipodeLetra;
    position: absolute;
    top: 1.0rem;
}

.navegador img{
    width: 6.0rem;
    height: 6.0rem;
    vertical-align: middle;
}